html
      head
           meta.utf-8
           title loginform
           link(rel="stylesheet" href="style.css")
           link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css")
      body
          div.loginBox
              div.glass
                  img(src="imge.png" class="user")
                  h3 Sign In Here
                  form
                        div.inputBox
                              
                                span 
                                    i(class="fa fa-user" ,aria-hidden="true")
                                input(type="text", name=" ", placeholder="Username")    
                        
                        div.inputBox
                              
                                span 
                                    i(class="fa fa-lock" ,aria-hidden="true")
                                input(type="password", name=" ", placeholder="******")    
                        
                        input(type="submit", name=" ", value="Login")
                        
                
                  a(href="#") Forget Password      
    
