body
{
  margin: 0;
  padding: 0;
  background: url(bg_imge.jpg);
  font-family: sans-serif;
  background-size:cover;
}

.loginBox
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 350px;
  box-sizing: border-box;
  background: transparent;
  box-shadow:  0 10px 20px rgba(0, 0, 0, .5);
  border-radius: 5px;
  transition: .5s;
}
.loginBox:hover
{
  box-shadow: 0 10px 20px rgba(0, 0, 0,1);
  background: rgba(255, 255, 255, .1);
}
.glass
{
  width: 100%;
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
  background: rgba(255, 255, 255, .1);
  border-radius: 5px;
  transition: .5s;
}

.glass:hover
{
  transform: translate(20px,20px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  }

.user
{
width: 100px;
height: 100px;
display: block;
top: 50%;
left: 50%;
padding: 0 80px;
margin-bottom: 20px;
}
 h3
 {
    text-align: center;
    margin-bottom: 20px;
    padding: 0 0 20px
    color: #262626;

 }
 .loginBox input
 {
   width: 100%;
   margin-bottom: 20px;
 }
.loginBox input[type="text"],
.loginBox input[type="password"]
{
  border: none;
  border-bottom: 2px solid #262626;
  outline: none;
  height: 40px;
  background: transparent;
  font-size: 16px;
  padding-left: 20px;
  box-sizing: border-box;
}
::placeholder
{
  color: rgba(0, 0, 0, 0.5);
}

.inputBox
{
  position: relative;
}

.inputBox span
{
  position: absolute;
  top: 10px;
  color: #262626;
}
 .loginBox input[type="submit"]
 {
  border: none;
  outline: none;
  height: 40px;
  font-size: 16px;
  background: #ed292a;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
 }
 .loginBox input[type="submit"]:hover
 {
   background: #efed40;
   color:#262626;
 }
.loginBox a
{
  color: #262626;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: block;
}
